COMPOSE_PROJECT_NAME=delivery-app


ENV=docker


MYSQL_ROOT_PASSWORD=CHANGE_ME


DB_USER=delivery_user
DB_NAME=delivery
DB_PASSWORD=delivery_password
DB_PORT=3306
DB_HOST=mysql-shared


REDIS_HOST=redis-shared
REDIS_PORT=6379
REDIS_DB=0


SECRET_KEY=mysecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600