COMPOSE_PROJECT_NAME=delivery-app

ENV=docker

DB_USER=delivery_user

DB_PASSWORD=delivery_password
MYSQL_ROOT_PASSWORD=root_password

DB_NAME=delivery
TEST_DB_NAME=delivery_test

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

